<h1>Booking</h1>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :booking %><br />
    <%= f.check_box :booking, {}, "true", "false" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
