<h1>
<% if current_user.location == "Seattle" %>
Date Search
<% elsif current_user.location == "Tokyo" %>
宿泊希望日で検索してください
<% end %>
</h1>

<%= form_for(@event) do |f| %>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />
<%= link_to 'Back', events_path %>