<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @event.start %><br />
  <%= @event.user.username %>
</p>
<!--
<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>
-->

<%= form_for(Yoyaku.new) do |f| %>
  <%= f.submit "Reserve", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
