<h1>
  <%= @user.username %>
</h1>
<p>
  <br />
  <h3>Email: <%= @user.email %></h3>
  <br />
  <h3>Location: <%= @user.location %></h3>
  <br />
  <% if current_user.hosting == true %>
    <h3>Host: Yes</h3>
  <% else %>
    <h3>Host: No</h3>
  <% end %>
  <br />
<p/>
<p>
  <%= link_to "Change Password?", edit_user_registration_path %>
  <br />
  <% if current_user.hosting == true %>
    <%= link_to "Unbecome a Host?", edit_user_registration_path %>
  <% else %>
    <%= link_to "Become a Host?", edit_user_registration_path %>
  <% end %>
</p>

<h3>Your Reservations</h3>
<h4>
<% @events.each do |event| %>
  <%= event.start %>  @ <%= event.user.username %>'s House<br />
<% end %>
</h4>

<!--
<% if @user.reservations.any? %>
  <h3>Your Reservations</h3>
  <ol class="reservation">
    <%= render @reservations %>
  </ol>
<% end %>
-->

<% if current_user.hosting == true %>
  <div id="calendar"></div>
<% end %>
