<h1>
  <%= @user.username %>
</h1>
<p>
  <br />
  <%= @user.email %>
  <br />
  <%= @user.location %>
  <br />
  <%= @user.hosting %>
  <br />
<p/>
<p>
  <%= link_to "Change Password?", edit_user_registration_path %>
  <br />
  <% if current_user.hosting == true %>
    <%= link_to "Unbecome a Host?", edit_user_registration_path %>
  <% else %>
    <%= link_to "Become a Host?", edit_user_registration_path %>
  <% end %>
  <br />
</p>

<% if @user.yoyakus.any? %>
  <h3>Your Reservations</h3>
  <ol class="yoyaku">
    <%= render @yoyakus %>
  </ol>
<% end %>

<% if current_user.hosting == true %>
  <div id="calendar"></div>
<% end %>
