<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Ourbnb", '#', id: "logo" %>
    <nav>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to current_user.username + " @" + current_user.location, profile_path %></li>
        <% if current_user.location == "Seattle" %>
          <li><%= link_to "Tokyo Hosts", tokyohostlist_path %></li>
        <% elsif current_user.location == "Tokyo" %>
          <li><%= link_to "Seattle Hosts", seattlehostlist_path %></li>
        <% end %>
        <li><%= link_to "Search", search_path %></li>
        <% if current_user.hosting == true %>
          <li><%= link_to "Hosting Management", new_event_path %></li>
        <% else %>
          <li><%= link_to "Become a Host?", edit_user_registration_path %></li>       
        <% end %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to " ", new_user_registration_path %></li> <!-- Admin only, hidden -->
        <li><%= link_to "Log in", new_user_session_path %></li>
      </ul>
      <% end %>
    </nav>
  </div>
</header> 